{% extends 'base.html' %} {% load static %} {% block content %}
<section class="banner">
  <img
    src="{% static 'img/banner/banner.webp' %}"
    alt="Banner"
    class="img-fluid"
  />
</section>
<section class="sobre">
  <article class="container">
    <div class="row">
      <div class="col-6 content">
        <div class="box-txt">
          <h1 class="mb-5">Sobre</h1>
          <p>
            A CorArte é uma associação de artesãos que atua em Cordeirópolis
            desde 2021. Unidos pelo propósito de fortalecer a produção artesanal
            local, seus membros colaboram para fomentar o artesanato, oferecer
            cursos e promover feiras de venda. Um dos principais objetivos da
            associação é a construção de um espaço próprio, onde possam
            desenvolver suas atividades com maior estrutura e visibilidade.
          </p>
        </div>
        <div class="cta">
          <a class="btn_cta" href="">Clique aqui e saiba mais</a>
        </div>
      </div>
      <div class="col-6">
        <div class="box-img">
          <img
            src="{% static 'img/sobre/sobre.webp' %}"
            alt="Banner"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </article>
</section>

<article
  class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 m-5"
  style="justify-content: center"
>
  <section class="col eventos">
    <article class="container">
      <h2 class="title mb-5">Eventos</h2>
      <p style="text-align: center">Confira todos os eventos</p>
      <div class="text-center my-4">
        <a
          href="{% url 'eventos:lista_eventos' %}"
          class="btn btn-primary btn-lg"
          target="_blank"
        >
          Ver Todos os Eventos
        </a>
      </div>
    </article>
  </section>

  <section class="col expositores">
    <article class="container">
      <h2 class="title mb-5">Expositores</h2>
      <p style="text-align: center">Confira todos os expositores associados</p>
      <div class="text-center my-4">
        <a
          href="{% url 'expositores:lista' %}"
          class="btn btn-primary btn-lg"
          target="_blank"
        >
          Ver Todos os Expositores
        </a>
      </div>
    </article>
  </section>
</article>

<section class="galeria">
  <h2 class="title mb-5">Galeria</h2>
  {% include 'galeria/carrossel.html' with imagens=imagens %}
</section>

<!-- <section class="contato">
    <h2 class="title">
        Contato
    </h2>
    <div class="box">
        <div class="map">

        </div>
        <div class="infos">

        </div>
    </div>
</section> -->
{% endblock %}
